extends layout

block addcss
	link(rel='stylesheet', href='/css/signin.css')

block content
	div.container
		form.form-signin
			div(class='text-center')
				h3.form-signin-heading Create a User
				input.form-control(type='text', placeholder='Username')
				input.form-control(type='password', placeholder='Password')
				button(class='btn btn-large btn-primary btn-lg middle', type='submit') Sign in
